header {
  width: 100%;
  background-color: pink;
}

header h1 {
  padding: 1em;
  text-align: center;
}

.bg-principal {
  background-color: blue;
}

.menu-lateral {
  padding: 0;
  display: inline-block;
}

.menu-lateral li {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  list-style: none;
}

main {
  width: 30%;
  margin-left: 50px;
  vertical-align: top;
}
main,
main p {
  display: inline-block;
}

.direita {
  font-size: 1.3rem;
  color: white;
  padding: 1em;
  margin-top: 10px;
  display: inline-block;
  width: 20%;
  height: 500px;
  float: right;
  margin-bottom: 10px;
}

footer {
  clear: both;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 1em;
}
