
}
header {
  width: 100%;
  background-color: pink;
}

header h1 {
  padding: 1em;
  text-align: center;
}

.bg-principal {
  background-color: blue;
}

.menu-lateral {
  padding: 0;
  display: inline-block;
}

.menu-lateral li {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  list-style: none;
}

main {
  width: 30%;
  margin-left: 50px;
  vertical-align: top;
}
main,
main p {
  display: inline-block;
}

.direita {
  font-size: 1.3rem;
  color: white;
  padding: 1em;
  margin-top: 10px;
  display: inline-block;
  width: 20%;
  height: 500px;

  margin-bottom: 10px;
}


footer {
  clear: both;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 1em;
}
@media (max-width: 900px) {
  .menu-lateral li {
    width: 200px;
    }
div.direita.bg-principal {
    width:100%;
    display: block;
    height: 40px;
    text-align: center;
    clear:both;
    }
}

@media (max-width: 700px) {
  ul.menu-lateral {
    width: 100%;
    }
  li.bg-principal {
    width: 100%;
    height:;
    }
  main {
    width: 100%;
    text-align: center;
    margin: 50px;
    }
  div.direita.bg-principal {
    width:100%;
    display: block;
    height: 40px;
    text-align: center;
    clear:both;
    }
}
